body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #353434;
  }
  
  .products-container {
    width: 100%;
    padding: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .product-item {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .product-image {
    width: 100%;
    max-width: 200px; /* Ancho máximo para evitar estiramiento horizontal */
    height: auto; /* Ajuste automático de la altura */
    object-fit: cover; /* Mantiene la proporción de la imagen */
  }
  
  /* Media queries pantallas medianas */
  @media (max-width: 1200px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Media queries pantallas pequeñas */
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Media queries pantallas muy pequeñas */
  @media (max-width: 480px) {
    .products-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  